@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
html {
    font-size: 18px;
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
:root {
    --Blue-500: hsl(215, 51%, 70%);
    --Cyan-400: hsl(178, 100%, 50%);
    --Cyan-400-img-transparency: hsla(178, 100%, 50%, 0.425);
    --Blue-950-main-BG: hsl(217, 54%, 11%);
    --Blue-900-card-BG: hsl(216, 50%, 16%);
    --Blue-800-line: hsl(215, 32%, 27%);
    --White: hsl(0, 0%, 100%);
    /* - Weights: 300, 400, 600 */
}
body {
    font-family: Outfit, sans-serif;
    color: var(--Blue-500);
}
.main {
    height: 100vh;
    background: var(--Blue-950-main-BG);
}
.container {
    width: 100%;
    height: 100vh;
    display: grid;
    place-content: center;
}
.card {
    background: var(--Blue-900-card-BG);
    border-radius: 1rem;
    padding: 1.4rem;
    max-width: 350px;
    display: grid;
    gap: 1.3rem;
    margin: 1rem;
    min-width: 215px;
    cursor: default;
}
.image-wrapper {
    position: relative;
    cursor: pointer;
    
    &:hover::after {
        content: '';
        position: absolute;
        inset: 0;
        width: 100%;
        height: 100%;
        border-radius: 0.5rem;
        background: var(--Cyan-400-img-transparency);
        background-image: url(images/icon-view.svg);
        background-position: center;
        background-repeat: no-repeat;
    }
}
.img {
    border-radius: 0.5rem;
    width: 100%;
    vertical-align: top; /*fix thin border bottom*/
}
.title {
    color: var(--White);
    font-weight: 600;
    font-size: 1.2rem;
    cursor: pointer;

    &:hover {
        color: var(--Cyan-400);
    }
}
.description {
    font-weight: 300;
    line-height: 1.5;
}
.data {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 0.5rem;
    font-size: 0.9rem;
    
    padding-bottom: 1.3rem;
    border-bottom: 1px solid var(--Blue-800-line);
}
.data__item {
    display: flex;
    gap: 0.3rem;
}
.value {
    color: var(--Cyan-400);
    flex-shrink: 0;
}
.time {
    flex-shrink: 0;
}
.user {
    display: flex;
    gap: 1rem;
    align-items: center;
}
.user__avatar {
    width: 1.8rem;
    border-radius: 50%;
    border: 1px solid var(--White);
}
.user__autor {
    font-size: 0.92rem;
    
    .user__autor--name {
        color: var(--White);
        cursor: pointer;

        &:hover {
            color: var(--Cyan-400);
        }
    }
}
